.main
  .main__top
    .main__top--one
      人気カテゴリー
    .main__top--two
      .main__top--three
        =link_to "#",class:"a" do
          食品
      .main__top--three
        =link_to "#",class:"a" do
          レディース
      .main__top--three
        =link_to "#",class:"a" do
          本